사용자가 요청한 주소의 Query String을 분해하여 HTML로 리턴하시오.​
​
예> http://localhost:8090/api/v1/getrecord?city=seoul&zipcode=08206&mobile=01012341234&nickname=cat​
​
위 요청에 대한 응답 (HTML)​
city : seoul​
zipcode : 08206​
mobile : 01012341234​
nickname : cat

In [6]:
target = 'http://localhost:8090/api/v1/getrecord/?city=seoul&zipcode=08206&mobile=01012341234&nickname=cat'

In [25]:
a = ((target.split('?')[-1]).split('&'))

a[-1]

result = a[-1].split('&')

result

['nickname=cat']

recordID = (self.path.split('/')[-1]).split('?')[0]

In [26]:
a

['city=seoul', 'zipcode=08206', 'mobile=01012341234', 'nickname=cat']

In [20]:
(a[0].split('='))[0]

'city'

In [6]:
input_data = input()
# 사용자에게 입력받는다
row = int(input_data[1])
# 입력받은것의 두번째 문자를 숫자로 변환해서 row에 담는다.
column = ord(input_data[0]) - int(ord('a')) + 1

print(row)
print(column)

 c8

8
3

In [4]:
ord(input_data[0])

97

In [5]:
int(ord('a'))

97

In [16]:
for j in range(6):
    a = 0
    for i in range(3):
        a = i*2
#         a = a +2
        print(a, end=' ')

0 2 4 0 2 4 0 2 4 0 2 4 0 2 4 0 2 4

In [11]:
x = int(input())
arr = [64,32,16,8,4,2,1]
arrsum = []
for i in arr:
    if(i <= x) & ((sum(arrsum)+i) <= x):
#   if (i <= X) & ((sum(b_sum) + b) <= X) :
        arrsum.append(i)
#         print(arrsum)
if x==64:
    print("1")
else:
    print(len(arrsum))
# print(arrsum)

 23

4

In [ ]:
for tc in range(int(input())):
    n,m = map(int,input().split())
    array = list(map(int,input().split()))
    dp = []
    index = 0
    for i in range(n):
        dp.append(array[index:index + m])
        index += m
    for j in range(1,m):
        for i in range(n):
            if i = 0: left_up = 0
            else: left_up = dp[i-1][j-1]
            if i = n-1: left_down = 0
            else: left_down = dp[i+1][j-1]
            left = dp[i][j-1]
            dp[i][j] = dp[i][j] + max(left_up,left_down,left)
    result = 0;
    for i in range(n):
        result = max(result, dp[i][m-1])
    print(result)

In [21]:
array = list(map(int,input().split()))

 1 3 3 1 2 1 4 1 0 6 4 7

In [22]:
print(array)

[1, 3, 3, 1, 2, 1, 4, 1, 0, 6, 4, 7]

In [4]:
n,m = map(int,input().split())
array = list(map(int,input().split()))
dp = []
index = 0
for i in range(n):
    dp.append(array[index:index + m])
    index += m
print(dp)

 3 4
 1 3 3 1 2 1 4 1 0 6 4 7

[[1, 3, 3, 1], [2, 1, 4, 1], [0, 6, 4, 7]]