In [70]:
import requests, bs4
import pandas as pd


headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:71.0) Gecko/20100101 Firefox/71.0'}

#웹페이지 html 소스 가져오기
resp = requests.get("https://www.coupang.com/np/search?component=&q=%EC%82%AC%EA%B3%BC&channel=user", headers=headers)
resp.encoding='utf-8'
html = resp.text
htmlobj = bs4.BeautifulSoup(html, 'html.parser')

In [71]:
parent = htmlobj.find(name = 'ul', id = 'productList')

In [89]:
litag = parent.findAll(name = 'li')

In [108]:
len(litag)

36

In [91]:
litag[0].text

'    광고   |  무료배송 새콤달콤 가정용 부사사과 5KG (당일배송), 가정용 사과 (크기 랜덤) 5KG    20,900원     \n 목요일 4/22   도착 예정    4.0 (430)  최대 209원 적립'

In [102]:
price = litag[0].find(name = 'div', attrs = {"class":"price-area"})

In [113]:
name = litag[0].find(name = 'div', attrs = {"class":"name"})

In [114]:
name.text

'새콤달콤 가정용 부사사과 5KG (당일배송), 가정용 사과 (크기 랜덤) 5KG'

In [103]:
price.text

'   20,900원     \n 목요일 4/22   도착 예정    '

In [105]:
result = price.find(name = 'strong', attrs = {"class":"price-value"})

In [107]:
result.text

'20,900'

In [125]:
rows = []
columns1 = []
for i in range(0,len(litag)):
    price = litag[i].find(name = 'div', attrs = {"class":"price-area"})
    result = price.find(name = 'strong', attrs = {"class":"price-value"})
    name = litag[i].find(name = 'div', attrs = {"class":"name"})
    columns1.append(name.text)
    columns1.append(result.text)
    rows.append(columns1)
    columns1 = []
print(rows)
print(len(columns1))
resultData = pd.DataFrame(rows)
resultData.columns = ['상품명','가격']
resultData

[['새콤달콤 가정용 부사사과 5KG (당일배송), 가정용 사과 (크기 랜덤) 5KG', '20,900'], ['곰곰 당도선별 세척사과, 2kg, 1박스', '14,310'], ['곰곰 당도선별 안동 세척사과, 1.8kg(8~9입), 1개', '13,800'], ['곰곰 당도선별 안동 사과, 1.5kg, 1개', '11,200'], ['이정도인데 갈아먹는 쥬스용 사과 (부자재무게포함), 1박스, 쥬스용사과5.3KG(미색,흠집)크기랜덤-반품X', '18,900'], ['매일농원 에브리데이365 프리미엄 청송사과 GPA인증 하루한알 내몸에 사과하세요, 1박스, 2. 가정용흠과 2kg중과', '16,000'], ['아삭한 충주씨 당도선별 사과, 3kg(12~14입), 1개', '23,900'], ['곰곰 시나노 골드사과, 2kg(4~7입), 1박스', '23,000'], ['[라임농장] 고당도 경북사과 실속형 2kg 5kg 10kg 산지직송, 1box, [라임_02] 가정용흠과 2kg / 중과', '16,900'], ['곰곰 당도선별 사과, 1.5kg, 1봉', '11,800'], ['의성 저탄소 인증 바로먹는 세척사과, 2kg(7~10입), 1박스', '14,380'], ['경북농협 문경 ABC 보조개 사과, 2.5kg, 1봉', '14,900'], ['곰곰 당도선별 사과, 2kg (특대), 1봉', '14,900'], ['프레샤인 충주 GAP 인증 고당도 사과, 1.2kg(5~8입), 1봉', '13,900'], ['곰곰 맛있는 보조개 알뜰사과, 2.5kg, 1봉', '12,550'], ['양구 고당도 사과, 2kg (6~7과), 1개', '29,900'], ['프레샤인 충주 GAP 인증 당도선별 사과, 2kg(6~11입), 1봉', '17,900'], ['자가담 의성 당도선별 큰 사과, 2kg(5~7과), 1개', '17,900'], ['의성 저탄소 인증 사과, 1.5kg (5~7입), 1봉', '13,730'], ['곰곰 당도선별 안동사과, 2kg, 1박스', '16,690'], ['의성 저탄소 인증 왕 사과, 1kg (3입), 1팩', '16,900'], ['프레샤인 충주 GAP 인증 당도선별 바로먹는 세척 사과, 2.5kg(8~13입), 1박스', '22,000'], ['프레샤인 충주 GAP 인증 당도선별 작아도 맛있는 꼬마 사과, 3kg, 1봉', '19,900'], ['경북농협 문경 당도선별 사과, 2kg(6~9입), 1봉', '17,900'], ['의성 당도선별 사과 중과, 10kg(42~45과), 1박스', '69,900'], ['청송 당도선별 사과, 1.5kg(5~8입), 1봉', '11,800'], ['청송 당도선별 사과, 1kg(3입), 1팩', '13,900'], ['경북농협 문경 당도선별 바로먹는 세척사과, 2kg(9~12입), 1박스', '14,900'], ['경북농협 문경 당도선별 사과, 1.5kg(6~9입), 1봉', '10,800'], ['프레시픽 안동 당도선별사과, 2kg(5~14과 내외), 1봉', '12,800'], ['충주씨 충주 사과, 2kg, 1봉', '13,800'], ['새콤달콤 가정용 부사사과 5KG (당일배송), 가정용 사과 (크기 랜덤) 5KG', '20,900'], ['의성 저탄소 인증 사과, 3kg (12~16입), 1박스', '24,900'], ['주왕산털보네 하늘사과, 9kg내외, 25~30과내외', '32,900'], ['의성 GAP 인증 꼬마 사과, 2kg(10~13입), 1박스', '16,600'], ['농협 껍질째 먹는 안심사과, 3kg, 1박스', '23,760']]
0

                                                  상품명      가격
0        새콤달콤 가정용 부사사과 5KG (당일배송), 가정용 사과 (크기 랜덤) 5KG  20,900
1                              곰곰 당도선별 세척사과, 2kg, 1박스  14,310
2                    곰곰 당도선별 안동 세척사과, 1.8kg(8~9입), 1개  13,800
3                            곰곰 당도선별 안동 사과, 1.5kg, 1개  11,200
4   이정도인데 갈아먹는 쥬스용 사과 (부자재무게포함), 1박스, 쥬스용사과5.3KG(미...  18,900
5   매일농원 에브리데이365 프리미엄 청송사과 GPA인증 하루한알 내몸에 사과하세요, ...  16,000
6                    아삭한 충주씨 당도선별 사과, 3kg(12~14입), 1개  23,900
7                         곰곰 시나노 골드사과, 2kg(4~7입), 1박스  23,000
8   [라임농장] 고당도 경북사과 실속형 2kg 5kg 10kg 산지직송, 1box, [...  16,900
9                               곰곰 당도선별 사과, 1.5kg, 1봉  11,800
10               의성 저탄소 인증 바로먹는 세척사과, 2kg(7~10입), 1박스  14,380
11                      경북농협 문경 ABC 보조개 사과, 2.5kg, 1봉  14,900
12                           곰곰 당도선별 사과, 2kg (특대), 1봉  14,900
13             프레샤인 충주 GAP 인증 고당도 사과, 1.2kg(5~8입), 1봉  13,900
14                         곰곰 맛있는 보조개 알뜰사과, 2.5kg, 1봉  12,550
15                          양구 고당도 사과, 2kg (6~7과), 1개  29,900
16             프레샤인 충주 GAP 인증 당도선별 사과, 2kg(6~11입), 1봉  17,900
17                    자가담 의성 당도선별 큰 사과, 2kg(5~7과), 1개  17,900
18                     의성 저탄소 인증 사과, 1.5kg (5~7입), 1봉  13,730
19                             곰곰 당도선별 안동사과, 2kg, 1박스  16,690
20                       의성 저탄소 인증 왕 사과, 1kg (3입), 1팩  16,900
21  프레샤인 충주 GAP 인증 당도선별 바로먹는 세척 사과, 2.5kg(8~13입), 1박스  22,000
22         프레샤인 충주 GAP 인증 당도선별 작아도 맛있는 꼬마 사과, 3kg, 1봉  19,900
23                     경북농협 문경 당도선별 사과, 2kg(6~9입), 1봉  17,900
24                   의성 당도선별 사과 중과, 10kg(42~45과), 1박스  69,900
25                        청송 당도선별 사과, 1.5kg(5~8입), 1봉  11,800
26                            청송 당도선별 사과, 1kg(3입), 1팩  13,900
27            경북농협 문경 당도선별 바로먹는 세척사과, 2kg(9~12입), 1박스  14,900
28                   경북농협 문경 당도선별 사과, 1.5kg(6~9입), 1봉  10,800
29                  프레시픽 안동 당도선별사과, 2kg(5~14과 내외), 1봉  12,800
30                                 충주씨 충주 사과, 2kg, 1봉  13,800
31       새콤달콤 가정용 부사사과 5KG (당일배송), 가정용 사과 (크기 랜덤) 5KG  20,900
32                    의성 저탄소 인증 사과, 3kg (12~16입), 1박스  24,900
33                       주왕산털보네 하늘사과, 9kg내외, 25~30과내외  32,900
34                  의성 GAP 인증 꼬마 사과, 2kg(10~13입), 1박스  16,600
35                           농협 껍질째 먹는 안심사과, 3kg, 1박스  23,760

In [118]:
columns = []
for i in range(0,len(litag)):
    name = litag[i].find(name = 'div', attrs = {"class":"name"})
#     result = price.find(name = 'strong', attrs = {"class":"price-value"})
    columns.append(name.text)
print(columns)
print(len(columns))

['새콤달콤 가정용 부사사과 5KG (당일배송), 가정용 사과 (크기 랜덤) 5KG', '곰곰 당도선별 세척사과, 2kg, 1박스', '곰곰 당도선별 안동 세척사과, 1.8kg(8~9입), 1개', '곰곰 당도선별 안동 사과, 1.5kg, 1개', '이정도인데 갈아먹는 쥬스용 사과 (부자재무게포함), 1박스, 쥬스용사과5.3KG(미색,흠집)크기랜덤-반품X', '매일농원 에브리데이365 프리미엄 청송사과 GPA인증 하루한알 내몸에 사과하세요, 1박스, 2. 가정용흠과 2kg중과', '아삭한 충주씨 당도선별 사과, 3kg(12~14입), 1개', '곰곰 시나노 골드사과, 2kg(4~7입), 1박스', '[라임농장] 고당도 경북사과 실속형 2kg 5kg 10kg 산지직송, 1box, [라임_02] 가정용흠과 2kg / 중과', '곰곰 당도선별 사과, 1.5kg, 1봉', '의성 저탄소 인증 바로먹는 세척사과, 2kg(7~10입), 1박스', '경북농협 문경 ABC 보조개 사과, 2.5kg, 1봉', '곰곰 당도선별 사과, 2kg (특대), 1봉', '프레샤인 충주 GAP 인증 고당도 사과, 1.2kg(5~8입), 1봉', '곰곰 맛있는 보조개 알뜰사과, 2.5kg, 1봉', '양구 고당도 사과, 2kg (6~7과), 1개', '프레샤인 충주 GAP 인증 당도선별 사과, 2kg(6~11입), 1봉', '자가담 의성 당도선별 큰 사과, 2kg(5~7과), 1개', '의성 저탄소 인증 사과, 1.5kg (5~7입), 1봉', '곰곰 당도선별 안동사과, 2kg, 1박스', '의성 저탄소 인증 왕 사과, 1kg (3입), 1팩', '프레샤인 충주 GAP 인증 당도선별 바로먹는 세척 사과, 2.5kg(8~13입), 1박스', '프레샤인 충주 GAP 인증 당도선별 작아도 맛있는 꼬마 사과, 3kg, 1봉', '경북농협 문경 당도선별 사과, 2kg(6~9입), 1봉', '의성 당도선별 사과 중과, 10kg(42~45과), 1박스', '청송 당도선별 사과, 1.5kg(5~8입), 1봉', '청송 당도선별 사과, 1kg(3입), 1팩', '경북농협 문경 당도선별 바로먹는 세척사과, 2kg(9~12입), 1박스', '경북농협 문경 당도선별 사과, 1.5kg(6~9입), 1봉', '프레시픽 안동 당도선별사과, 2kg(5~14과 내외), 1봉', '충주씨 충주 사과, 2kg, 1봉', '새콤달콤 가정용 부사사과 5KG (당일배송), 가정용 사과 (크기 랜덤) 5KG', '의성 저탄소 인증 사과, 3kg (12~16입), 1박스', '주왕산털보네 하늘사과, 9kg내외, 25~30과내외', '의성 GAP 인증 꼬마 사과, 2kg(10~13입), 1박스', '농협 껍질째 먹는 안심사과, 3kg, 1박스']
36

In [ ]:
ssf몰에서 품목검색

import requests, bs4
import pandas as pd

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:71.0) Gecko/20100101 Firefox/71.0'}

#웹페이지 html 소스 가져오기
resp = requests.get("https://www.ssfshop.com/Top-Sellers/list?dspCtgryNo=SFMA42A14&brandShopNo=&brndShopId=&etcCtgryNo=&ctgrySectCd=BST_CTGRY&keyword=&leftBrandNM=", headers=headers)
resp.encoding='utf-8'

html = resp.text
htmlobj = bs4.BeautifulSoup(html, 'html.parser')

total = htmlobj.find( name = "ul",attrs = {"id":"dspGood"})
price = total.find_all("span",{"class":"price"})
product = total.find_all("span",{"class":"name"})
review = total.find_all("span",{"class":"review"})
like = total.find_all("span",{"class":"heart"})
# 컬럼을 담을 빈 리스트를 하나 생성합니다.
columnsList=[]
# 최종 행을 담을 빈 리스트를 하나 생성합니다.
dataList = []
#원하는 제품들의 목록 횟수만큼 반복을 합니다.
for i in range(0,len(product)):
    #수집한 제품이름 정보와 관련된 text를 인덱싱하여 이름만 가져옵니다. 
    productName = product[i].text[12:]
    #앞서 생성한 columnsList에 담습니다.
    columnsList.append(productName)
    #수집한 제품 가격과 관련된 text를 정제하기 위하여 split 및 인덱싱을 하였습니다.
    PriceRaw = price[i].text
    PriceRawSplit = PriceRaw.split("원")
    productPrice = PriceRawSplit[0][18:]
    #정제한 제품가격을 columnsList에 담습니다.
    columnsList.append(productPrice)
    #수집한 리뷰 정보와 관련된 text를 인덱싱하여 횟수만 가져옵니다. 
    reviewNum = review[i].text[2:]
    #columnsList에 담습니다.
    columnsList.append(reviewNum)
    #위의 3가지 컬럼이 담겨진 columnsList를 dataList에 담습니다.
    dataList.append(columnsList)
    #다시 비워줍니다.
    columnsList = []
    #DataFrame으로 변환하고 컬럼이름을 바꾸어 줍니다.
productInfo = pd.DataFrame(dataList, columns = ["상품명", "상품 가격(원)","리뷰횟수"])

---------------------------------------------------------------------------------------------------------------------

위와 동일한 방법으로 쿠팡에서 사과검색해서 품목 정리
rows = []
columns = []
for i in range(0,len(litag)):
    price = litag[i].find(name = 'div', attrs = {"class":"price-area"})
    result = price.find(name = 'strong', attrs = {"class":"price-value"})
    name = litag[i].find(name = 'div', attrs = {"class":"name"})
    columns.append(name.text)
    columns.append(result.text)
    rows.append(columns)
    columns = []
resultData = pd.DataFrame(rows)
resultData.columns = ['상품명','가격']
resultData

In [83]:
result = product.find(name = 'div', attrs = {"class":"price-area"})

In [84]:
result.text

'   20,900원     \n 목요일 4/22   도착 예정    '

In [87]:
a = result.find(name = 'strong', attrs = {"class":"price-value"})

In [88]:
a.text

'20,900'

In [38]:
tbodytags = parent.find('tbody')

In [40]:
trs = tbodytags.findAll('tr')

In [45]:
trs[0].findAll('td')

In [46]:
columns = []
rows = []
for i in range(0,len(trs)):
    eachtr = trs[i]
    tds = trs[i].findAll('td')
    for j in range(0,len(tds)):
        eachtd = tds[j].text
        columns.append(eachtd)
    rows.append(columns)
    columns = []
print(rows)

[['101', '김효관'], ['102', '이순신'], ['103', '김어진']]

In [49]:
result = pd.DataFrame(rows)

In [50]:
result.columns = ['순번','이름']

In [51]:
result

    순번   이름
0  101  김효관
1  102  이순신
2  103  김어진

In [53]:
theadtag = parent.find('thead')

In [54]:
theadtag

<thead>
<tr>
<th scope="cols">학번</th>
<th scope="cols">이름</th>
</tr>
</thead>

In [56]:
theadtag.findAll('th')

In [58]:
ths = theadtag.findAll('th')

In [59]:
ths

In [60]:
headname = []
for i in range(0,len(ths)):
    eachths = ths[i].text
    headname.append(eachths)

In [61]:
headname

['학번', '이름']

In [67]:
columns = []
rows = []
for k in range(0,2):
    eachhead = headname[k]
    columns.append(eachhead)
rows.append(columns)
columns = []

for i in range(0,len(trs)):
    eachtr = trs[i]
    tds = trs[i].findAll('td')
    for j in range(0,len(tds)):
        eachtd = tds[j].text
        columns.append(eachtd)
    rows.append(columns)
    columns = []
print(rows)

[['학번', '이름'], ['101', '김효관'], ['102', '이순신'], ['103', '김어진']]

In [68]:
result2 = pd.DataFrame(rows)

In [69]:
result2

     0    1
0   학번   이름
1  101  김효관
2  102  이순신
3  103  김어진

In [24]:
targetParents = htmlobj.find( name = "table",attrs = {"id":"test_table"})
targetParents
# 원하는 테이블을 불러온다.

<table class="type07" id="test_table">
<thead>
<tr>
<th scope="cols">학번</th>
<th scope="cols">이름</th>
</tr>
</thead>
<tbody>
<tr>
<td>101</td>
<td>김효관</td>
</tr>
<tr>
<td>102</td>
<td>이순신</td>
</tr>
<tr>
<td>103</td>
<td>김어진</td>
</tr>
</tbody>
</table>

In [25]:
tbodytags = targetParents.find( name = "tbody")
tbodytags
# tbody라는 태그를 찾아서 불러온다

<tbody>
<tr>
<td>101</td>
<td>김효관</td>
</tr>
<tr>
<td>102</td>
<td>이순신</td>
</tr>
<tr>
<td>103</td>
<td>김어진</td>
</tr>
</tbody>

In [26]:
trs = tbodytags.findAll("tr")
# tr 태그로 감싸진 것들을 인덱스에 담았다.
print(len(trs))
trs[0]

3

<tr>
<td>101</td>
<td>김효관</td>
</tr>

In [11]:
eachtr = trs[0]

In [12]:
eachtr

<tr>
<td>101</td>
<td>김효관</td>
</tr>

In [14]:
tds = eachtr.findAll('td')

In [15]:
tds

In [16]:
tds[0].text

'101'

In [29]:
columns = []
rows = []
for j in range(0,len(trs)):
    eachtr = trs[j]
    tds = eachtr.findAll('td')
    for i in range(0, len(tds)):
        eachtd = tds[i]
        columns.append(eachtd.text)
    rows.append(columns)
    columns = []

In [30]:
columns

[]

In [31]:
rows

[['101', '김효관'], ['102', '이순신'], ['103', '김어진']]

In [32]:
pd.DataFrame(rows)

     0    1
0  101  김효관
1  102  이순신
2  103  김어진

In [4]:
atags[0].attrs["href"]

'https://forms.gle/Fw49w9GhWQChDcZm7'

In [5]:
atags[0].text

' 6/13 Spark 심화과정 '

In [7]:
columns = []
rows = []
for i in range(0,len(atags)):
    each = atags[i]
    columns.append(each.text)
    columns.append(each.attrs['href'])
    rows.append(columns)
    columns = []

In [8]:
rows

[[' 6/13 Spark 심화과정 ', 'https://forms.gle/Fw49w9GhWQChDcZm7'],
 [' 6/13 Spark 기본과정 ', 'https://forms.gle/G4TcXm3fKuHLHA6D6'],
 [' 6/18 Spark [MAP_FILTER] ', 'https://forms.gle/M8gr1kC2ubA3UDVp8'],
 [' 6/18 Spark GroupBy 심화 ', 'https://forms.gle/h8w5mZ4MNaPLCPbi6'],
 [' 6/25 Spark RDD 실전 분석 ', 'https://forms.gle/q5yL6QHfueDLM5w27'],
 [' 6/27 Spark RDD 실전 분석2 ', 'https://forms.gle/Gxb4y6LfVYiaLu4M7']]

In [10]:
result = pd.DataFrame(rows)

In [11]:
result.columns = ['과정','주소']

In [12]:
result

                          과정                                   주소
0           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
1           6/13 Spark 기본과정   https://forms.gle/G4TcXm3fKuHLHA6D6
2   6/18 Spark [MAP_FILTER]   https://forms.gle/M8gr1kC2ubA3UDVp8
3     6/18 Spark GroupBy 심화   https://forms.gle/h8w5mZ4MNaPLCPbi6
4      6/25 Spark RDD 실전 분석   https://forms.gle/q5yL6QHfueDLM5w27
5     6/27 Spark RDD 실전 분석2   https://forms.gle/Gxb4y6LfVYiaLu4M7

In [126]:
try:
    4 / 0
except ZeroDivisionError as e:
    print(e)

division by zero