### 1. pandas 데이터 프레임

In [51]:
import pandas as pd

#### 1. 리스트에서 데이터프레임 생성하기

In [52]:
rowFirst = ['a01',202012, 100]
rowsecond = ['a02', 202102, 90]
rowthird = ['a03', 202104, 100]

In [53]:
data = pd.DataFrame([rowFirst,rowsecond,rowthird])

In [54]:
data.columns = ['a','b','c']

In [55]:
data

     a       b    c
0  a01  202012  100
1  a02  202102   90
2  a03  202104  100

In [56]:
columnfirst = ['a01','a02','a03']
columnsecond = [202012,202102,202104]
columnthird = [100,90,100]

In [57]:
data2 = pd.DataFrame(zip(columnfirst,columnsecond,columnthird))

In [58]:
columnNameList = ['a','b','c']

In [59]:
data2.columns = columnNameList

In [60]:
data2

     a       b    c
0  a01  202012  100
1  a02  202102   90
2  a03  202104  100

### 1. 라이브러리 선언

In [61]:
from bs4 import BeautifulSoup #내가 태그를 아름답게 뜬다.
import requests # 웹페이지 접속 요청

### 2. 타겟 url선언 및 접속

In [62]:
targetUrl = "http://www.sparkkorea.com/퀴즈"

In [63]:
resp = requests.get(url=targetUrl)

In [64]:
resp.encoding = 'utf-8'

In [65]:
if rest.status_code == 200:
# 원하는 로직을 펼치고
    else:
#다른 로직을 펼친다.

SyntaxError: invalid syntax (<ipython-input-65-e142b7dd65fa>, line 3)

In [66]:
html = resp.text

In [67]:
type(html)

str

In [68]:
htmlobj = BeautifulSoup(html,"html.parser")

### 3.태그값 접근하기

In [121]:
htmlobj.find_all(name="a", limit=3)
# a 태그를 가진 3줄만 찾는다.

[<a class="skip-link screen-reader-text" href="#content">컨텐츠로 건너뛰기</a>,
 <a href="https://sparkkorea.com/" rel="home">
 					스파크 코리아				</a>,
 <a href="https://sparkkorea.com/%ec%9e%90%eb%a3%8c%ec%8b%a4/">자료실</a>]

In [123]:
targetParent = htmlobj.find(name='div',attrs = {"id":"id_spark_quiz"})
# 
# find 계속 범위를 좁혀라
# find all 을 활용

In [124]:
targetParent
# a태그에는 href라는 속성이 있고 href의 속성의 값은http://...
# div태그가 있고 id라는 속성에 id_spark....

<div class="class_spark_quiz" id="id_spark_quiz">
<h1>Spark 퀴즈 </h1>
<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>
<p></p>
<a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>
<p></p>
<a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>
<p></p>
<a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>
<p></p>
<a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>
<p></p>
<a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>
<p></p>
</div>

In [146]:
target = targetParent.findAll(name = "a")
print(target[0].name)
len(target[0])

a

1

In [148]:
rows = []
columns = []
for i in range(0,len(target)):
    rows.append(columns)
    for j in range(0,len(target[i])):
        columns.append(target[j].text)
        columns.append(target[j].name)
        columns.append(target[j].attrs["href"])
    columns = []
result = pd.DataFrame(rows)
resultcolumnName = ['title','name','url']
result.columns = resultcolumnName
result

               title name                                  url
0   6/13 Spark 심화과정     a  https://forms.gle/Fw49w9GhWQChDcZm7
1   6/13 Spark 심화과정     a  https://forms.gle/Fw49w9GhWQChDcZm7
2   6/13 Spark 심화과정     a  https://forms.gle/Fw49w9GhWQChDcZm7
3   6/13 Spark 심화과정     a  https://forms.gle/Fw49w9GhWQChDcZm7
4   6/13 Spark 심화과정     a  https://forms.gle/Fw49w9GhWQChDcZm7
5   6/13 Spark 심화과정     a  https://forms.gle/Fw49w9GhWQChDcZm7

In [116]:
title = []
link = []
for i in range(0, len(targetlink)):
    title.append(target[i].text)
    link.append(targetl[i].attrs["href"])
result = pd.DataFrame(zip( title, link))
resultcolumnName = ['title','url']
result.columns = resultcolumnName

In [118]:
result

                       title                                  url
0           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
1           6/13 Spark 기본과정   https://forms.gle/G4TcXm3fKuHLHA6D6
2   6/18 Spark [MAP_FILTER]   https://forms.gle/M8gr1kC2ubA3UDVp8
3     6/18 Spark GroupBy 심화   https://forms.gle/h8w5mZ4MNaPLCPbi6
4      6/25 Spark RDD 실전 분석   https://forms.gle/q5yL6QHfueDLM5w27
5     6/27 Spark RDD 실전 분석2   https://forms.gle/Gxb4y6LfVYiaLu4M7

### 테이블 정보 수집하기

In [21]:
import requests, bs4
import pandas as pd
#웹페이지 html 소스 가져오기
resp = requests.get("https://sparkkorea.com/테스트/")
resp.encoding='utf-8'
html = resp.text
htmlobj = bs4.BeautifulSoup(html, 'html.parser')

In [22]:
tableTag = htmlobj.find(name='table',attrs = {"id":"test_table"})
tableTag

<table class="type07" id="test_table">
<thead>
<tr>
<th scope="cols">학번</th>
<th scope="cols">이름</th>
</tr>
</thead>
<tbody>
<tr>
<td>101</td>
<td>김효관</td>
</tr>
<tr>
<td>102</td>
<td>이순신</td>
</tr>
<tr>
<td>103</td>
<td>김어진</td>
</tr>
</tbody>
</table>

In [23]:
tbodyTag = tableTag.find(name='tbody')
tbodyTag

<tbody>
<tr>
<td>101</td>
<td>김효관</td>
</tr>
<tr>
<td>102</td>
<td>이순신</td>
</tr>
<tr>
<td>103</td>
<td>김어진</td>
</tr>
</tbody>

In [24]:
trs = tbodyTag.find_all('tr')
len(trs)

3

In [167]:
eachTr = trs[0]
eachTr

<tr>
<td>101</td>
<td>김효관</td>
</tr>

In [168]:
tds = eachTr.find_all('td')
tds

In [172]:
eachTd = tds[0]
print(eachTd)
print(eachTd.name)

<td>101</td>
td

In [161]:
columnList = []

In [162]:
columnList.append(eachTd.text)

In [163]:
columnList

['101']

In [181]:
len(trs)
# tds[0]
# tds[1]
trs[0]
a= trs.f

<tr>
<td>101</td>
<td>김효관</td>
</tr>

In [183]:
rowList = []
for i in range(0,len(trs)):
    eachTr = trs[i]
    
    rowList.append(columnList)
    for j in range(0,len(eachTr)):
        tds = eachTr[j].find_all
        columnList.append(tds[j].text)
    columnList = []
rowList

KeyError: 0

In [1]:
# 1. 라이브러리 선언
import requests, bs4
import pandas as pd
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:71.0) Gecko/20100101 Firefox/71.0'}

In [2]:
# 2. 웹페이지 소스 가져오기
url = "http://www.ssg.com/search.ssg?target=all&query=%EC%B9%B4%EB%A9%94%EB%9D%BC&count=40"
response = requests.get(url, headers=headers)
response.encoding = "utf-8"

In [3]:
html = response.text

# 3. 필요한 태그부분 가져오기
htmlobj = bs4.BeautifulSoup(html, 'html.parser')
response

In [15]:
ul = htmlobj.find("ul",{"id":"idProductImg"})
# tagname이 ul이고 id가 idProductImg 아래를 찾아서 담는다.

In [16]:
lis = ul.findAll("li")
# ul에서 다시 li태그네임으로 검색해서 lis에 담는다.

In [17]:
lis[0].find(name = "div", attrs={"class":"title"})
# lis의 첫번째 인덱스로 검사
# div태그아래 속성이 class:title인것들 검색한다.

<div class="title">
<strong class="brd">
<em class="tx_ko">SONY</em>
<em class="tx_gl">SONY</em>
</strong>
<a class="clickable" data-index="0" data-info="1000054014734" data-position="view" data-unit="img" href="/item/itemView.ssg?itemId=1000054014734&amp;siteNo=6004&amp;salestrNo=6005&amp;tlidSrchWd=카메라&amp;srchPgNo=1&amp;src_area=ssglist&amp;itemSsgColectYn=Y" target="_self">
<em class="tx_ko">소니 ILCE-7CL/A7CL/SEL2860렌즈키트/원핸드 컴팩트 풀프레임 카메라</em>
<em class="tx_en">소니 ILCE-7CL/A7CL/SEL2860렌즈키트/원핸드 컴팩트 풀프레임 카메라</em>
<em class="tx_zh">소니 ILCE-7CL/A7CL/SEL2860렌즈키트/원핸드 컴팩트 풀프레임 카메라</em>
</a>
</div>

In [18]:
# 빈 배열을 하나 생성했다.
columnList = []
# lis에 들어있는 것들을 인덱스 순서대로 꺼낸다.
for li in lis:
    # lis 각 인덱스에서 tagname이 div이고 속성값이 class:title에 해당하는것들 모두 div에 담았다. 
    div = li.find(name = "div", attrs={"class":"title"})
    # div 각 인덱스에서 tagname이 em이고 속성값이 class:tx_ko에 해당하는것들 모두 titleList에 담는다.
    titleList = div.find_all(name="em", attrs={"class":"tx_ko"} )
    # titleList의 뒤쪽값만 columnList에 담아낸다.
    columnList.append(titleList[-1].text)

In [19]:
columnList

['소니 ILCE-7CL/A7CL/SEL2860렌즈키트/원핸드 컴팩트 풀프레임 카메라',
 '소니 알파 대체불가 미러리스 모음전',
 '소니 풀프레임 미러리스 카메라 A7C (ILCE-7C) 바디킷',
 '[정품등록 이벤트][정품] EOS R6 Body + 가이드북 + 서울 무료퀵',
 '[정품] PowerShot G7X Mark III',
 '[라이카] Leica D-LUX7 Silver +32GB메모리+LCD보호필름',
 '[정품등록 이벤트][정품] EOS RP Body + 포켓융 + 서울무료퀵',
 '소니 A6000(SELP 16-50 mm OSS 렌즈킷) + SD32G 메모리 + 크리닝세트',
 '[본사직영] LEICA D-Lux7',
 '캐논 PS G7X Mark III',
 '[파나소닉]루믹스 프리미엄 컴팩트 카메라 DC-LX100M2/F1.7-2.8 라이카렌즈/4K/LX100M II',
 'DSC-RX100M3 하이엔드 1.0타입 디지털카메라',
 '[파나소닉] 루믹스 DC-GF10(12-32)렌즈킷/미러리스/사은품 케이스 증정',
 '[니콘데이&위크] [정품] 니콘 Nikon D5600 Kit(AF-P 18-55mm VR)',
 '[본사직영] Leica D-Lux7 Black',
 '[여주점] 디지털카메라 & 포토프린터 특가행사',
 '[라이카] Leica Q2 Black +32GB메모리+LCD보호필름',
 '고프로 히어로8 블랙 IN (gopro hero8 black,액션캠)',
 '[소니정품] 소니 캠코더 HDR-CX405 (더욱 강력해진 엔트리급 캠코더)',
 '[정품등록 이벤트][정품] EOS R Body + 가이드북 + 포켓융 + 서울무료퀵',
 '소니 신학기 준비는 소니와 함께',
 '[공식판매점]Leica C-Lux 미드나잇 블루 + 128GB 메모리 패키지',
 '[정품] EOS M200 더블렌즈 kit (15-45mm + 22mm)',
 '고프로 히어로8 블랙 (gopro hero8 black,액션캠,카메라) [서울지역무료퀵]',
 '[니콘 정품] 니콘 카메라 D850/바디킷',
 '[여주점] [캐논 CANON] 파워샷 G7X MARK II [사은품: SD16G]',
 ' 미러리스 카메라 Z7 BODY',
 '[정품] EOS 200D II 더블렌즈 (18-55mm + 40mm) KIT 화이트',
 '[파나소닉] 루믹스 카메라 DMC-LX10/배터리+케이스+32G 증정',
 '[정품] EOS 200D II 18-55mm STM KIT',
 '[파나소닉] 인기 만점 카메라 총집합!+사은품 증정까지',
 '페이유 AK4500 스탠다드키트 카메라짐벌 4.6Kg 정품',
 '[정품] EOS 850D 18-55mm STM Kit',
 '[라이카] Leica D-LUX 7 Street kit Edition',
 '[소니e] SEL50F18/E마운트/쩜팔렌즈/E 50mm F1.8 OSS 블랙,실버',
 '캐논 EOS M50 15-45 IS STM KIT WHITE (+SD16G)',
 '[캐논 CANON] 파워샷 G5X MARK II (사은품: SD16G)',
 '[여주점] [캐논 CANON] EOS 200D II 18-55mm KIT (화이트/블랙) [사은품: SD16G]',
 '[정품] EOS M200 15-45mm kit',
 '캐논 PS G7X Mark III (SL)']

In [ ]:
# 상품명
div = li.find(name = "div",{"class":"thmb"})
name = div.find("img")['alt']
columnList.append(name)
# 상품 가격
price = li.find("em",{"class":"ssg_price"}).text
price = price + "원"
columnList.append(price)
# 상품 링크
link = div.find("a")['href']
columnList.append(link)
dataList.append(columnList)
columnList = []

In [51]:
# 4. 한 행의 값을 담을 리스트와 전체 행을 담을 리스트 선언
columnList = []
dataList = []

In [ ]:
li = lis[0]

In [ ]:
# 상품명
div = li.find(name = "div",{"class":"thmb"})
name = div.find("img")['alt']
columnList.append(name)
# 상품 가격
price = li.find("em",{"class":"ssg_price"}).text
price = price + "원"
columnList.append(price)
# 상품 링크
link = div.find("a")['href']
columnList.append(link)
dataList.append(columnList)
columnList = []
dataList

In [51]:
# 5. 반복문 이용해서 상품명, 가격, 링크 정보 리스트에 담기
for li in lis:
    # 상품명
    div = li.find(name = "div",{"class":"thmb"})
    name = div.find("img")['alt']
    columnList.append(name)
    # 상품 가격
    price = li.find("em",{"class":"ssg_price"}).text
    price = price + "원"
    columnList.append(price)
    # 상품 링크
    link = div.find("a")['href']
    columnList.append(link)
    dataList.append(columnList)
    columnList = []
dataList

# 6. 데이터프레임 만들기
productInfo = pd.DataFrame(dataList, columns = ["상품명", "상품 가격", "상품 링크"])
productInfo

,상품명,상품 가격,상품 링크
0,소니 ILCE-7CL/A7CL/SEL2860렌즈키트/원핸드 컴팩트 풀프레임 카메라,"2,202,480원",/item/itemView.ssg?itemId=1000054014734&siteNo...
1,소니 알파 대체불가 미러리스 모음전,"2,202,480원",/item/dealItemView.ssg?itemId=1000045468416&si...
2,소니 풀프레임 미러리스 카메라 A7C (ILCE-7C) 바디킷,"2,000,700원",/item/itemView.ssg?itemId=1000055839811&siteNo...
3,[정품등록 이벤트][정품] EOS R6 Body + 가이드북 + 서울 무료퀵,"2,991,550원",/item/itemView.ssg?itemId=1000052236084&siteNo...
4,[정품] PowerShot G7X Mark III,"759,000원",/item/itemView.ssg?itemId=1000035559361&siteNo...
5,[라이카] Leica D-LUX7 Silver +32GB메모리+LCD보호필름,"1,804,200원",/item/itemView.ssg?itemId=1000039898517&siteNo...
6,[정품등록 이벤트][정품] EOS RP Body + 포켓융 + 서울무료퀵,"1,185,750원",/item/itemView.ssg?itemId=1000032445125&siteNo...
7,소니 A6000(SELP 16-50 mm OSS 렌즈킷) + SD32G 메모리 + ...,"573,800원",/item/itemView.ssg?itemId=1000048359397&siteNo...
8,[본사직영] LEICA D-Lux7,"1,860,000원",/item/itemView.ssg?itemId=1000032813674&siteNo...
9,캐논 PS G7X Mark III,"695,000원",/item/itemView.ssg?itemId=1000061957056&siteNo...
10,[파나소닉]루믹스 프리미엄 컴팩트 카메라 DC-LX100M2/F1.7-2.8 라이카...,"892,060원",/item/itemView.ssg?itemId=1000030310799&siteNo...
11,DSC-RX100M3 하이엔드 1.0타입 디지털카메라,"512,440원",/item/itemView.ssg?itemId=1000023107404&siteNo...
12,[파나소닉] 루믹스 DC-GF10(12-32)렌즈킷/미러리스/사은품 케이스 증정,"459,800원",/item/itemView.ssg?itemId=1000026893937&siteNo...
13,[니콘데이&위크] [정품] 니콘 Nikon D5600 Kit(AF-P 18-55mm...,"662,400원",/item/itemView.ssg?itemId=1000020533731&siteNo...
14,[본사직영] Leica D-Lux7 Black,"1,860,000원",/item/itemView.ssg?itemId=1000053086490&siteNo...
15,[여주점] 디지털카메라 & 포토프린터 특가행사,"810,000원",/item/dealItemView.ssg?itemId=1000049933322&si...
16,[라이카] Leica Q2 Black +32GB메모리+LCD보호필름,"7,362,300원",/item/itemView.ssg?itemId=1000039869926&siteNo...
17,"고프로 히어로8 블랙 IN (gopro hero8 black,액션캠)","354,050원",/item/itemView.ssg?itemId=1000039106023&siteNo...
18,[소니정품] 소니 캠코더 HDR-CX405 (더욱 강력해진 엔트리급 캠코더),"394,250원",/item/itemView.ssg?itemId=1000010192681&siteNo...
19,[정품등록 이벤트][정품] EOS R Body + 가이드북 + 포켓융 + 서울무료퀵,"2,070,000원",/item/itemView.ssg?itemId=1000029726321&siteNo...
20,소니 신학기 준비는 소니와 함께,"512,440원",/item/dealItemView.ssg?itemId=1000062305350&si...
21,[공식판매점]Leica C-Lux 미드나잇 블루 + 128GB 메모리 패키지,"1,522,900원",/item/itemView.ssg?itemId=1000034265896&siteNo...
22,[정품] EOS M200 더블렌즈 kit (15-45mm + 22mm),"777,400원",/item/itemView.ssg?itemId=1000044135061&siteNo...
23,"고프로 히어로8 블랙 (gopro hero8 black,액션캠,카메라) [서울지역무료퀵]","358,798원",/item/itemView.ssg?itemId=1000037102952&siteNo...
24,[니콘 정품] 니콘 카메라 D850/바디킷,"2,991,550원",/item/itemView.ssg?itemId=1000026536448&siteNo...
25,[여주점] [캐논 CANON] 파워샷 G7X MARK II [사은품: SD16G],"595,000원",/item/itemView.ssg?itemId=1000034477071&siteNo...
26,미러리스 카메라 Z7 BODY,"2,944,050원",/item/itemView.ssg?itemId=1000030656737&siteNo...
27,[정품] EOS 200D II 더블렌즈 (18-55mm + 40mm) KIT 화이트,"854,680원",/item/itemView.ssg?itemId=1000034262251&siteNo...
28,[파나소닉] 루믹스 카메라 DMC-LX10/배터리+케이스+32G 증정,"495,880원",/item/itemView.ssg?itemId=1000034264250&siteNo...
29,[정품] EOS 200D II 18-55mm STM KIT,"774,640원",/item/itemView.ssg?itemId=1000033684675&siteNo...
30,[파나소닉] 인기 만점 카메라 총집합!+사은품 증정까지,"2,810,600원",/item/dealItemView.ssg?itemId=1000037440315&si...
31,페이유 AK4500 스탠다드키트 카메라짐벌 4.6Kg 정품,"808,000원",/item/itemView.ssg?itemId=1000048447832&siteNo...
32,[정품] EOS 850D 18-55mm STM Kit,"1,059,840원",/item/itemView.ssg?itemId=1000045748101&siteNo...
33,[라이카] Leica D-LUX 7 Street kit Edition,"2,007,900원",/item/itemView.ssg?itemId=1000064719219&siteNo...
34,"[소니e] SEL50F18/E마운트/쩜팔렌즈/E 50mm F1.8 OSS 블랙,실버","259,440원",/item/itemView.ssg?itemId=1000038560044&siteNo...
35,캐논 EOS M50 15-45 IS STM KIT WHITE (+SD16G),"699,000원",/item/itemView.ssg?itemId=1000026741934&siteNo...
36,[캐논 CANON] 파워샷 G5X MARK II (사은품: SD16G),"845,000원",/item/itemView.ssg?itemId=1000041768370&siteNo...
37,[여주점] [캐논 CANON] EOS 200D II 18-55mm KIT (화이트/...,"810,000원",/item/itemView.ssg?itemId=1000035581872&siteNo...
38,[정품] EOS M200 15-45mm kit,"625,600원",/item/itemView.ssg?itemId=1000044276645&siteNo...
39,캐논 PS G7X Mark III (SL),"695,000원",/item/itemView.ssg?itemId=1000061957068&siteNo...