In [16]:
d = [0] * 100

def fibo(n):
    if n == 1 or n ==2:
        return 1
    if d[n] != 0:
        return d[n]
    d[n] = fibo(n-1) + fibo(n-2)
    return d[n]

fibo(99)

In [18]:
d = [0] * 100
d[1] = 1
d[2] = 1
n = 99
for i in range(3,n+1):
    d[i] = d[i-1] + d[i-2]
print(d[99])

218922995834555169026

In [22]:
d = [0] * 100

# 피보나치 함수(Fibonacci Function)를 재귀함수로 구현 (탑다운 다이나믹 프로그래밍)
def fibo(x):
    print('f(' + str(x) + ')', end=' ')
    # 종료 조건(1 혹은 2일 때 1을 반환)
    if x == 1 or x == 2:
        return 1
    # 이미 계산한 적 있는 문제라면 그대로 반환
    if d[x] != 0:
        return d[x]
    # 아직 계산하지 않은 문제라면 점화식에 따라서 피보나치 결과 반환
    d[x] = fibo(x - 1) + fibo(x - 2)
    return d[x]

fibo(5)

f(5) f(4) f(3) f(2) f(1) f(2) f(3)

5

In [43]:
# 정수 N을 입력 받기
n = int(input())
# 모든 식량 정보 입력 받기
array = list(map(int, input().split()))

 4
 1 5 6 7

In [44]:
array

[1, 5, 6, 7]

In [45]:
# 앞서 계산된 결과를 저장하기 위한 DP 테이블 초기화
d = [0] * 100

In [46]:
# 다이나믹 프로그래밍(Dynamic Programming) 진행 (보텀업)
d[0] = array[0]

In [47]:
# 첫번째 값과 두번째 값 중 더 큰값을 두번째에 담는다. 
d[1] = max(array[0], array[1]) 
print(d[0],d[1])

1 5

In [48]:
# 그 다음부터는 바로 앞의 값과 그 앞의 값에 현재값을 더한값을 비교해서 더 큰 값을 담아준다.
for i in range(2, n):
    d[i] = max(d[i - 1], d[i - 2] + array[i])

In [49]:
print(d[0],d[1],d[2])

1 5 7

In [50]:
print(d[0],d[1],d[2],d[3])

1 5 7 12

In [51]:
# 계산된 결과 출력
print(d[n - 1])

12

In [52]:
1//2

0

In [53]:
2//3

0

In [54]:
4//2

2

In [55]:
5//2

2

In [56]:
7//1

7

In [4]:
a= [i for i in range(0,4)]

In [5]:
a

[0, 1, 2, 3]

In [7]:
n = 3
m =2

In [8]:
array = [[0]*m for _ in range(n)]

In [9]:
array

[[0, 0], [0, 0], [0, 0]]

In [13]:
a = [1,2,3,4,5,6,6]
remove = [3,5]
result = [i for i in a if i not in remove]

In [14]:
result

[1, 2, 4, 6, 6]

In [16]:
data = set([1,1,3,3,4,4,5,5,6])

In [17]:
data

{1, 3, 4, 5, 6}

In [18]:
data1 = {1,2,3,3,3,4,4,4,}

In [19]:
data1

{1, 2, 3, 4}

In [22]:
data = set([1,2,3,4,5])

In [23]:
data.add(5)

In [24]:
data

{1, 2, 3, 4, 5}

In [25]:
data.update([7,8])

In [26]:
data

{1, 2, 3, 4, 5, 7, 8}

In [29]:
list = []
for i in range(3):
    list.append(list(map(int, input().split())))

 1 4 5 6 7 8 9

TypeError: 'list' object is not callable

In [28]:
a

[1, 4, 5, 6, 7, 8, 9]