tvList3 = [ 'UN40EN001', 'LEDTV_UN40EN002', 'ledtv_LEDTV_UN40EN003', 'ledtv_UN40EN004']
리스트에서 LEDTV_가 한 개만 앞에 붙도록 하세요

In [1]:
tvList3 = [ 'UN40EN001', 'LEDTV_UN40EN002', 'ledtv_LEDTV_UN40EN003', 'ledtv_UN40EN004']

In [9]:

prefix = "LEDTV_"
for i in range(0,len(tvList3)):
    upperlist = tvList3[i].upper()
    if(upperlist.count(prefix)==0):
        tvList3[i] = prefix + tvList3[i]
    elif(upperlist.count(prefix)>=1):
        tvList3[i]=upperlist.replace(prefix,"")
        tvList3[i] = prefix + tvList3[i]
        

print(tvList3)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

함수 입력변수에 따라 소수점 2자리수, 3자리 등의 반올림 이 가능하도록 함수를 구현하세요
(예: roundFunction(12.2225,3) -> 3번째자리 반올림)

In [15]:
def roundfunction(invalue,option):
    step1 = invalue * (10**option)
    step2 = int(step1 + 0.5)
    outvalue = step2 / (10**option)
    return outvalue

In [17]:
roundfunction(3.4532,3)

3.453

SCORE 변수를 80으로 선언 후
90점이상 A, 80~90점 B, 이외 C 점수로
GRADE변수에 할당하는 프로그램을 구현하세요

In [ ]:
score = 80
if

In [18]:
import pandas as pd

In [21]:
csdata = pd. read_csv("C:/Users/SMART-25/stddev/dataset/customerdata.csv")
csdata

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [1]:
a=["5","6","8"]
b=[]
for i in range(0,len(a)):
    a[i] = int(a[i])
    b.append(a[i])

print(b)

[5, 6, 8]

In [2]:
type(b[1])

int

In [3]:
b

[5, 6, 8]

In [4]:
sum(b)

19

In [10]:
def sum_list(listname):
# 함수의 이름을 만들고 파라미터에는 리스트명을 들어가게 했습니다.  
    Empty=[]
    # 캐스팅된 정수를 담을 빈 리스트를 하나 만들었습니다.
    for i in range(0,len(listname)):
        # 합계를 구하고자하는 리스트의 원소를 하나씩 꺼내어 줍니다.
        listname[i] = int(listname[i])
        # 꺼낸 원소들을 정수로 캐스팅 하였습니다.
        Empty.append(listname[i])
        # 정수로 캐스팅한 원소들을 빈 리스트에 담았습니다.
        outvalue = sum(Empty)
        # 새로운 리스트에 담겨진 정수들의 합계를 outvalue에 담았습니다.
    return outvalue
    # 결과를 반환합니다.

In [11]:
b=["5","7"]
print(sum_list(b))

12

In [3]:
listname = ["4","5"]
c=[]
for i in range(0,len(listname)):
    listname[i] = int(listname[i])
    c.append(listname[i])
    outvalue = sum(c)
print(outvalue)

9

In [17]:
x=int(input())

for i in range(1,10):
    print(x * i)

 2

2
4
6
8
10
12
14
16
18

In [6]:
x=int(input())

 2

In [7]:
x

2

In [8]:
type(x)

int

In [19]:
inputList = [10,100,200,300,1000,1,2]

In [30]:
def average(inputList):
    minvalue = min(inputList)
    maxvalue = max(inputList)
    inputList.remove(minvalue)
    inputList.remove(maxvalue)
    average = sum(inputList)/len(inputList)
    return average

In [32]:
listA = [1,2,3,4,5,6,7]
listB = [100,150,3,4,5,6,7]
listC = [3,2,3,4,5,6,7]
listD = [4,2,3,4,5,6,7]

In [33]:
average(listA)

4.0

In [1]:
inputList1 = ["1234","1234","22","11",11,23455]

In [4]:
inputList1 = ["1234","1234","22","11",11,23455]
i = 0
sum = 0
while(i < len(inputList1)):
    inputList1[i] = int(inputList1[i])
    sum = inputList1[i]+ sum
    i = i+1

In [5]:
print(sum)

25967

In [6]:
inputList1 = ["1234","1234","22","11",11,23455]

In [9]:
def sum2(inputList):
    i = 0
    sum = 0
    while(i < len(inputList)):
        inputList[i] = int(inputList[i])
        sum = inputList[i]+ sum
        i = i+1
    return sum

In [10]:
sum2(inputList1)

25967

In [11]:
tvList = ["LEDTV_UN40EN001", "LEDTV_UN40EN002", "LEDTV_UN40EN003"]
mobileList = ["G3_MO001", "G3_MO002","G3_MO003"]
speakerList = ["BL_SP001", "BL_SP002", "BL_SP003"]

productList = [tvList, mobileList, speakerList]

In [16]:
# 모바일 스피커리스트 중 003번 모델은 제외하고 출력한다.
speakerList = ["BL_SP001", "BL_SP002", "BL_SP003"]
a=[]
for i in range(0,len(speakerList)):
    if(speakerList[i].split("_")[1] == "SP003"):
        continue
    print(speakerList[i])

BL_SP001
BL_SP002

In [25]:
for i in range(0,len(productList)):
    for j in range(0,len(productList[i])):
        productListsplit = productList[i][j].split("_")[1]
        if (productListsplit == "SP003" or productListsplit == "MO003"):
            continue
        print(productList[i][j])

LEDTV_UN40EN001
LEDTV_UN40EN002
LEDTV_UN40EN003
G3_MO001
G3_MO002
BL_SP001
BL_SP002

In [10]:
tvList = [ 'UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'ledtv_UN40EN004']
# 대문자로 LEDTV_가 한번씩 붙도록 하자
# 한번 이상일때
# 하나도 없을때
prefix = 'LEDTV_'
for i in range(0,len(tvList)):
    tvListupper1 = tvList[i].upper()
    tvListcnt = tvListupper1.count(prefix)
    print(tvListupper1)
    print(tvListcnt)
    if tvListcnt == 0:
        tvList[i] = prefix + tvList[i]
    elif tvListcnt ==1:
        tvList[i] = tvListupper1.replace(prefix,"")
        tvList[i] = prefix + tvList[i]
    else:
        tvList[i] = tvList[i].replace(prefix,"")
        tvList[i] = prefix + tvList[i]
print(tvList)

UN40EN001
0
LEDTV_UN40EN002
1
LEDTV_LEDTV_UN40EN003
2
LEDTV_UN40EN004
1
['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [13]:
# 소수점 자리수를 정하는 함수를 만들어보자
import math
a= 10.343663
step1 = a * math.pow(10,2)
step2 = int(step1 + 0.5)
outvalue = step2 / math.pow(10,2)

In [14]:
outvalue

10.34

In [1]:
def hello(count):
    if count == 200:    # 종료 조건을 만듦. count가 0이면 다시 hello 함수를 호출하지 않고 끝냄
        return
    
    print('Hello, world!', count)
    
    count -= 1      # count를 1 감소시킨 뒤
    hello(count)    # 다시 hello에 넣음
 
hello(5)    # hello 함수 호출

Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1

In [10]:
def factorial(n):
    if n == 1:      # n이 1일 때
        return 1    # 1을 반환하고 재귀호출을 끝냄
    return n * factorial(n - 1)    # n과 factorial 함수에 n - 1을 넣어서 반환된 값을 곱함
 
print(factorial(5))

120

In [9]:
def factorial(num):
    if num == 200:      # n이 200일 때
        return 200    # 200을 반환하고 재귀호출을 끝냄
    return num + factorial(num + 1)    
    # factorial 재귀함수결과에 n값을 더하여 반환하므로 
	# 탈출조건에 부합시까지 계속 반복 됩니다.
 
print(factorial(100))
# 시작값을 100으로 파라미터에 입력하여 재귀함수 실행

15150

In [5]:
def Fibonacci(n):
    if n == 1:      # n이 1일 때
        return 1    # 1을 반환하고 재귀호출을 끝냄
    elif n == 0:    # n이 0일 때
        return 0    # 0을 반환하고 재귀호출을 끝냄
    
    return Fibonacci(n - 1) + Fibonacci(n - 2)    
    # Fibonacci함수의 파라미터에 해당하는 항번호의 숫자를 반환하기 위해 생성
 
print(Fibonacci(10))
# 10번항의 피보나치 수열 숫자 출력

55