In [7]:
import pandas as pd
csData = pd.read_csv("C:/Users/SMART-25/stddev/dataset/kopo_customerdata.csv")
csData

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [9]:
amountList = csData.TOTAL_AMOUNT.tolist()

In [10]:
amountList.sort()

### step1: 데이터를 정렬한다.(오름차순)
### step2: 최소값 최대값을 계산한다.
### step3: 최소값 최대값 각각의 개수를 산출한다.
### step4: 평균계산: 초기리스트합 - (최소값*최소값개수) - (최대값*최대값개수)
###        / 초기리스트개수 - (최소값개수) - (최대값개수)

In [14]:
minValue = min(amountList)
maxValue = max(amountList)

In [15]:
"minValue: {}/n maxValue: {}/n minValuecnt: {}/n maxValuecnt: {}/n"

'minValue: {}/n maxValue: {}/n minValuecnt: {}/n maxValuecnt: {}/n'

In [16]:
minValuecnt = amountList.count(minValue)
maxValuecnt = amountList.count(maxValue)

In [18]:
finalSum = sum(amountList) - (minValue*minValuecnt) - (maxValue*maxValuecnt)
finalSum

10565615500

In [ ]:
finalavg = finalSum /

In [ ]:
answer = sum(amountList) - (minValue*minValuecnt) - (maxValue * maxValuecnt) / \
         (len(amountList) - minValuecnt - maxValuecnt)

### 튜플

In [ ]:
priceList = [100,200,400,500]

In [ ]:
priceTuple = (100,200,400,500)

In [21]:
priceSet1 = {100,150,200,170}
priceSet2 = {100,139,210,170}
priceSet1.difference(priceSet2)

{150, 200}

In [25]:
allWeek = {1,2,3,4,5,6}
existWeek = {1,2,3,5,6}
print(allWeek.difference(existWeek))
print(allWeek - existWeek)

{4}
{4}

### 딕셔너리

In [43]:
priceList = [10,20,30,40]

In [44]:
priceDict = {"price":priceList}

In [45]:
priceDict["price"]

[10, 20, 30, 40]

In [50]:
pd.DataFrame(priceDict)

   price
0     10
1     20
2     30
3     40

In [46]:
yearweekList = [2021,2020,1998,1988]

In [47]:
valueDict = {"price" : priceList,
            "yearweek" : yearweekList }

In [48]:
valueDict["regionid"] = ["a01","a01","a01","a01"]

In [49]:
print(valueDict)

{'price': [10, 20, 30, 40], 'yearweek': [2021, 2020, 1998, 1988], 'regionid': ['a01', 'a01', 'a01', 'a01']}

In [51]:
pd.DataFrame(valueDict)

   price  yearweek regionid
0     10      2021      a01
1     20      2020      a01
2     30      1998      a01
3     40      1988      a01

In [36]:
import pandas as pd

In [37]:
pd.DataFrame(priceList)

    0
0  10
1  20
2  30
3  40

dic = {"name":"sec","id":"300000","address":"suwon"}
에서 “id”:”300000” 삭제하여 출력하세요
{'name': 'sec', 'address': 'suwon’}

In [32]:
dic = {"name":"sec","id":"300000","address":"suwon"}
# dic이라는 딕셔너리를 생성하였다
dic.pop("id")
# 딕셔너리에서 id라는 키값을 삭제하여 요소를 제거한다.
print(dic)
# id키값을 가진 요소를 제거 후 출력하였다.

{'name': 'sec', 'address': 'suwon'}

In [59]:
import pandas as pd
productIdList = ["LEDTV","LEDTV","LEDTV","LEDTV"]
yearweekList = [202101,202102,202103,202104]
volValueList = [100,200,300,400]

In [67]:
productIdDict = {"productdict" : productId,
                "yearweek": yearweekList,
                 "volume" : volValueList}

NameError: name 'volValueList' is not defined

In [68]:
coulumnName = ["PRODUCT","YEARWEEK","VOLUME"]

In [71]:
pd.DataFrame( zip(productIdList,yearweekList,volValueList), columns = columnName)

NameError: name 'productIdList' is not defined

In [63]:
pd.DataFrame(productIdDict)

  productdict
0       LEDTV
1       LEDTV
2       LEDTV
3       LEDTV

In [64]:
pd.DataFrame(productId,columns = ["product"])

  product
0   LEDTV
1   LEDTV
2   LEDTV
3   LEDTV

In [72]:
pd.DataFrame( [
    ["a01", "202101", 100],
    ["a02", "202102", 200],
    ["a03", "202103", 300]
])

     0       1    2
0  a01  202101  100
1  a02  202102  200
2  a03  202103  300

In [52]:
import pandas as pd
csData = pd.read_csv("C:/Users/SMART-25/stddev/dataset/kopo_customerdata.csv")
csData

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [55]:
csData.rename(columns={"CUSTOMERCODE":"CUSTID"}

SyntaxError: unexpected EOF while parsing (<ipython-input-55-8f841364c986>, line 1)

In [75]:
import numpy as np
np.linspace(start = 1, stop = 100, num = 10)

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])

In [76]:
! pip show numpy

Name: numpy
Version: 1.20.1
Summary: NumPy is the fundamental package for array computing with Python.
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email: None
License: BSD
Location: c:\python39\lib\site-packages
Requires:
Required-by: pandas

In [12]:
!pip list #코드만 들고다니는 것이 아니라 pip도 들고 다닌다.

Package         Version
--------------- -------
numpy           1.20.1
pandas          1.2.3
pip             20.2.3
python-dateutil 2.8.1
pytz            2021.1
setuptools      49.2.1
six             1.15.0

WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

In [15]:
import pandas as pd
a = !pip list
pd.DataFrame(a)

                                                    0
0                             Package         Version
1                             --------------- -------
2                              numpy           1.20.1
3                               pandas          1.2.3
4                              pip             20.2.3
5                               python-dateutil 2.8.1
6                              pytz            2021.1
7                              setuptools      49.2.1
8                              six             1.15.0
9   WARNING: You are using pip version 20.2.3; how...
10  You should consider upgrading via the 'c:\pyth...

np.random 하위의 함수를 검색하여
예: random 또는 randint
0~10사이의 random함수를 생성하세요

In [10]:
import numpy as np
randomnum = np.random.randint(low=0, high=10, size=10)
print("{}".format(randomnum))
print(randomnum)

[1 2 4 9 7 6 7 4 7 3]
[1 2 4 9 7 6 7 4 7 3]

In [20]:
tvList = ["UN40EN001","UN40EN002","UN40EN003","UN40EN004"]
Prefix = "LedTv"
for i in range(len(tvList)):
    tvList[i] = Prefix + tvList[i]
print(tvList)

['LedTvUN40EN001', 'LedTvUN40EN002', 'LedTvUN40EN003', 'LedTvUN40EN004']

#### 미션 1. 모든 데이터에 "LEDTV_를 붙여라"

#### 1. for문 이용

In [22]:
targetList = ['UN001','UN002','UN003','UN004']
preFix = 'LEDTV_'
targetList[0] = preFix + targetList[0]
targetList[1] = preFix + targetList[1]
targetList[2] = preFix + targetList[2]
targetList[3] = preFix + targetList[3]

In [23]:
print(targetList)

['LEDTV_UN001', 'LEDTV_UN002', 'LEDTV_UN003', 'LEDTV_UN004']

In [7]:
targetListLen = len(targetList) #리스트의 길이 숫자를 변수에 담았다.
# i를 0~4까지 1씩 증가시킨다.
# 구문은 tab들여쓰기로 컴퓨터가 인식하게 해준다.
# for문의 끝나는 지점에는 ':'을 써줘야한다.
for i in range(0,targetListLen): # for문 헤더
    targetList[i] = preFix + targetList[i]
targetList

['LEDTV_LEDTV_LEDTV_UN001',
 'LEDTV_LEDTV_LEDTV_UN002',
 'LEDTV_LEDTV_LEDTV_UN003',
 'LEDTV_LEDTV_LEDTV_UN004']

#### 2. while 문 이용

In [3]:
targetList = ['UN001','UN002','UN003','UN004']
preFix = 'LEDTV_'
i = 0
while(i < 4):
    targetList[i] = preFix + targetList[i]
    # while문은 반복문 마지막에 자동증가 안해줌!!
    i += 1
targetList

['LEDTV_UN001', 'LEDTV_UN002', 'LEDTV_UN003', 'LEDTV_UN004']

#### tvList2 = [ 'UN40EN001', 'UN40EN002’, 
'UN40EN003', 'UN40EN004’] 리스트가 출력되도록 하세요

In [2]:
# for문 이용
tvList2 = ['UN40EN001','UN40EN002','UN40EN003','UN40EN004']
# 리스트 생성
tvList2Len = len(tvList2)
# 생성한 리스트의 길이의 숫자를 새로운 변수(tvList2Len)에 담았습니다.
for i in range(0,tvList2Len):
    # 0번 인덱스 부터 리스트의 마지막 인덱스까지 반복이 되도록 for문을 만들었습니다.
    print(tvList2[i])
    # 리스트의 내부 데이터를 하나씩 출력하였습니다.
print(tvList2)
# 리스트를 출력하였습니다.

UN40EN001
UN40EN002
UN40EN003
UN40EN004
['UN40EN001', 'UN40EN002', 'UN40EN003', 'UN40EN004']

In [2]:
# while문 이용
i = 0
tvList2 = ['UN40EN001','UN40EN002','UN40EN003','UN40EN004']
# 리스트 생성
tvList2Len = len(tvList2)
# 생성한 리스트의 길이의 숫자를 새로운 변수(tvList2Len)에 담았습니다.
while(i<tvList2Len):
    # 0번 인덱스 부터 리스트의 마지막 인덱스까지 반복이 되도록 while문을 만들었습니다.
    print(tvList2[i])
    # 리스트의 내부 데이터를 하나씩 출력하였습니다.
    i = i + 1
    # 무한반복을 방지하기 위하여 i를 1씩 증가시켜주었습니다.
print(tvList2)
# 리스트를 출력하였습니다.

UN40EN001
UN40EN002
UN40EN003
UN40EN004
['UN40EN001', 'UN40EN002', 'UN40EN003', 'UN40EN004']

### 조건 판단하기

In [30]:
score = [50,60,70,80]

In [31]:
for i in score:
    print(i,end=" = ")
    if i < 50:
        scoreLabel = "D"
# elif score >= 50 & score < 80:
# 앞서 50미만 점수는 D에 담았으므로 50이상이라는 조건은 불필요하다.
    elif i < 80:
        scoreLabel = "B"
    else :
        scoreLabel = "A"
    print(scoreLabel)

50 = B
60 = B
70 = B
80 = A

tvList2 = [ 'UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003’, ‘ledtv_UN40EN004’]
리스트에서 LEDTV_가 한 개만 앞에 붙도록 하세요
(* 대소문자 구분없이 전부 처리!)

###### 리스트에 있는 데이터를 하나씩 확인하자
###### 리스트 아이템 별 prefix 개수를 확인하자
###### prefix >= 2 prefix를 전부 공백으로 없앤다.
###### prefix == 1 pass
###### prefix < 1 prefix를 붙인다.

In [60]:
tvList2 = [ 'UN40EN001', 'LEDTV_UN40EN002','LEDTV_LEDTV_UN40EN003','ledtv_UN40EN004']
# tvList2리스트를 생성하였습니다.
preFix = 'LEDTV_'
# preFix를 정하였습니다.
tvList2Len = len(tvList2)
# 생성한 리스트의 길이의 숫자를 새로운 변수(tvList2Len)에 담았습니다.
for ModelNo in range(tvList2Len):
    ModelNoupper = tvList2[ModelNo].upper()
    # 리스트의 각 데이터를 대문자로 변경한 데이터를 ModelNoupper변수에 담았습니다.
    preFixcnt = ModelNoupper.count(preFix)
    # 리스트의 각 데이터에 preFix가 붙어있는 갯수를 preFixcnt변수에 담았습니다.
    if preFixcnt == 2:
        # 리스트의 각 데이터에 preFix가 붙어있는 갯수가 2개이면 
        tvList2[ModelNo] = tvList2[ModelNo].replace(preFix,"")
        # LEDTV_를 제거하고
        tvList2[ModelNo] = preFix + tvList2[ModelNo]
        # 리스트의 각 데이터의 앞에 LEDTV_를 하나씩 붙여줬습니다.
    elif preFixcnt == 1:
        # 리스트의 각 데이터에 preFix가 붙어있는 갯수가 1개이면
        tvList2[ModelNo] = ModelNoupper
        # 대문자로 변경된 데이터로 바꾸어 줍니다.
    else : 
        tvList2[ModelNo] = preFix + tvList2[ModelNo]  
        # 그 외에는 리스트의 각 데이터의 앞에 LEDTV_를 하나씩 붙여줬습니다.
print(tvList2)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

SCORE 변수를 80으로 선언 후
90점이상 A, 80~90점 B, 이외 C 점수로
GRADE변수에 할당하는 프로그램을 구현하세요

In [49]:
score = 80
# 80이라는 정수를 가지는 score변수를 하나 생성합니다.
if score >= 90:
    # score가 90점 이상이라면
    GRADE = "A"
    # GRADE변수에 A를 지정하였습니다.
elif score >= 80:
    # score가 80점 이상이라면
    # (90점 이상은 이미 앞서 걸러졌으므로 90점미만이라는 조건은 명시하지 않았습니다.)
    GRADE = "B"
    # GRADE변수에 B를 지정하였습니다.
else : 
    GRADE = "C"
    # 그 외에는 C를 지정하였습니다.
    
print(GRADE)
# GRADE를 출력하였습니다.

B